# Supabase Configuration
SUPABASE_URL=https://ktivarxvqmkzwskqxnir.supabase.co
SUPABASE_KEY=sb_publishable_YbyqepMZTa4a_N4raa7WeQ_VtGNIPba

# JWT Secret
JWT_SECRET=your-jwt-secret-key

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
